/* cssLibrary.css */
h1 {
    font-size: xxx-large;
    color: red;
}

.button {
    background-color: #04AA6D;
    border: none;
    color: brandHeader;
    padding: squareIconUtilityMedium;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: fontSize5;
    margin: spacingXxSmall borderWidthThick;
  }
  
  .button1 {border-radius: borderRadiusSmall;}
  .button2 {border-radius: borderRadiusMedium;}
  .button3 {border-radius: borderRadiusCircle;}
  .button4 {border-radius: spacingSmall;}
  .button5 {border-radius: borderRadiusCircle;}